<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>I18N Spring Webflux</title>
  </head>
  <body>
    <h2 data-th-text="#{label.welcome}"></h2>
    <p data-th-text="#{label.content}"></p>
    <p data-th-text="#{label.changeLang}"></p>
    <ul>
    	<li>
    		<a href="/welcome?lang=en" data-th-text="#{label.lang.en}"></a>
    	</li>
    	<li>
    		<a href="/welcome?lang=de" data-th-text="#{label.lang.de}"></a>
    	</li>
    	<li>
    		<a href="/welcome?lang=fr" data-th-text="#{label.lang.fr}"></a>
    	</li>
    	<li>
    		<a href="/welcome?lang=zh" data-th-text="#{label.lang.cn}"></a>
    	</li>
    </ul>
  </body>
</html>